.brandName a {
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  font-family: 'Bungee', cursive;
  margin-top: 10px;
  padding: 5px;
}

.brandName a:hover {
  color: #4056A1;
  background-color: #ffffff;
  height: 100%;
  border-radius: 5px 0;
  font-weight: 900;
}

@keyframes moveDownArrow {
  0% { margin-top: 0; }
  100% { margin-top: 20px;}
}
.downArrow {
  animation: moveDownArrow 1s infinite;
}

nav {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 100%;
 background-color: olivedrab;
 background-image: url("https://www.transparenttextures.com/patterns/arches.png");
 height: 120px;
 padding: 2.5em 1.5em 1.5em 1.5em;
 color: #ffffff;
 position: fixed;
 top: 0;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    justify-content: unset;
    flex-wrap: nowrap;
    padding-top: 1em;
  }
  .brandName a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .brandName a:hover {
    color: #ffffff;
    background-color: inherit;
    height: 100%;
    border-radius: 5px 0;
  }
  .writeTweet {
    text-align: center;
  }
}

.downArrow {
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.writeTweet {
  display: flex;
  flex-direction: column;
}

.writeTweet > p {
  margin: -10px auto;
}